	{% extends 'core/base.html' %}
	{% load static %}
	
	{% 	block content %}
	<!-- Post Content -->
	<section id="postContent" class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<header class="mb-4">
						<h3 class="text-center">{{post.title}}</h3>
						<p class="text-center">
							<small>
								{{post.published|date:"d E Y"}} 
								| Kategorie: 		
								{% for c in post.categories.all %}
								{{ c.name }} {% if not forloop.last %}, {% endif %} 
								{% endfor %} 	
								| Autor: 
								{{post.author}}
							</small>
						</p>
					</header>			
					<div><img src="{{post.image.url}}" class="img-fluid mb-4"></div>
					<div class="text-justify">
						{{post.content|linebreaks}}
						<a href="{% url 'news:posts' %}" class=""><i class="fas fa-long-arrow-alt-left"></i>  Powrót do listy wydarzeń</a>
					</div>						
				</div>
			</div>

		</div>		
	</section>
	{% endblock %}
	

	