	{% extends 'core/base.html' %}
	{% load static %}

	{% block content %}
	<!-- news -->
	<section id="news" class="py-5">
		<div class="container" class="py-4">
		
			<h2 class="text-center mb-3">Aktualności</h2>

			{% comment %} <div id="search-container"
					 class="mb-5">
				<div class="input-group d-flex justify-content-end">
					<div class="input-group-append">
						<input type="text" class="form-control" placeholder="Szukaj..">
						<button type="submit" class="input-group-text" >
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>			
			</div> {% endcomment %}
			
			{% for post in post_list %}
				<div class="row mb-4">
					<div class="col-md-4 mb-3">
						{% if post.image_thumbnail %}
						<img src="{{post.image_thumbnail.url}}" class="img-fluid">
						{% else %}
						<img src="{% static 'news/img/news_default.jpg' %}"
								 class="img-fluid">
						{% endif %}
					</div>
					<div class="col-md-8">
						<h5>{{post.title}}</h5>
						<small>
							{{post.published|date:"d E Y"}} 
							| Kategorie: 		
							{% for c in post.categories.all %}
								<a href="{% url 'news:category' c.id %}">{{ c.name }}</a> 
								{% if not forloop.last %}, {% endif %} 
							{% endfor %} 	
							| Autor: 
							{{post.author}}
						</small>
						<p class="text-justify">{{ post.content | truncatewords:70 | safe}}</p>
						<a href="{% url 'news:post' post.id %}" class="">Dowiedz się więcej <i class="fas fa-long-arrow-alt-right"></i></a>		
					</div>
				</div>
			{% endfor %}
			
			<!-- Pagination -->

			{% if is_paginated %}
				<div id="post-list-pagination" class="d-flex">
				  <ul class="pagination mx-auto">

				  	{% if page_obj.has_previous %}
					    <li class="page-item">
					      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
				    {% endif %}
					{% for i in paginator.page_range %}
						{% if page_obj.number == i %}
							<li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
						{% else %}
							<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
						{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
						<li class="page-item">
					      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					{% endif %}

				  </ul>
				</div>	
				{% endif %}


		</div>
	</section>

	{% endblock %}
	