{% extends 'core/base.html' %}
{% load static %}

{% block content %}
	<!-- About -->
	<section id="about" class="py-5">
		<div class="container">
			<div class="mb-5">
				<h2 class="text-center mb-5">Nasz zespół</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus odio cumque praesentium delectus earum, iusto sequi eius tempora iure rem voluptas laborum, molestiae eos ipsum deleniti voluptatum animi deserunt reiciendis explicabo atque. Enim sint, quibusdam maxime voluptate ratione. Consequuntur libero ratione tempora asperiores saepe tenetur magni dolorem obcaecati, harum enim ipsum adipisci hic neque recusandae delectus itaque, qui natus quos suscipit molestiae, culpa et. In necessitatibus fuga doloremque odit totam.</p>
			</div>	
			{% for person in staff %}		
				<div class="row mb-5">
					<div class="col-md-4 pb-3 picture">
						<img src="{{person.image.url}}" alt="" class="img-fluid">
					</div>
					<div class="col-md-8 description">
						<h5>{{person.name}}</h5>
						<small>{{person.job_title}}</small>
						<p>{{person.description}}</p>
					</div>			
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}